.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/BitcoinExchange.hpp
!ex00/BitcoinExchange.cpp
!ex00/isNDigit.hpp
!ex00/isNDigit.cpp
!ex00/isValidDate.hpp
!ex00/isValidDate.cpp
!ex00/split.hpp
!ex00/split.cpp
!ex00/Database.hpp
!ex00/Database.cpp

ex01/*
!ex01/Makefile
!ex01/main.cpp
!ex01/RPN.hpp
!ex01/RPN.cpp
!ex01/split.hpp
!ex01/split.cpp
